* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 100%;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

#Maintenance {
  width: 100%;
  height: 582px;
  background-color: #fef2f6;
}
#Maintenance .MaintenanceWarpper {
  width: 100%;
  height: 582px;
  column-gap: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Maintenance .MaintenanceWarpper .Maintenancetext {
  width: 584px;
}
#Maintenance .MaintenanceWarpper .Maintenancetext h2 {
  font-size: 30px;
  line-height: 40px;
}
#Maintenance .MaintenanceWarpper .Maintenancetext p {
  font-size: 16px;
  line-height: 26px;
  margin: 25px 0;
}
#Maintenance .MaintenanceWarpper .Maintenancetext a {
  display: inline-block;
  background-color: #ff3e3e;
  width: 229px;
  text-align: center;
  padding: 17px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
}
#Maintenance .MaintenanceWarpper .MaintenanceImage {
  width: 518px;
  height: 100%;
}

#Technologies {
  width: 100%;
  padding: 66px;
}
#Technologies .TechnologiesWarpper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}
#Technologies .TechnologiesWarpper .TechnologiestextContent p {
  margin: 25px 0;
}
#Technologies .TechnologiesWarpper .TechnologiestextContent p span {
  font-size: 24px;
  margin-right: 20px;
}
#Technologies .TechnologiesWarpper .TechnologiestextContent a {
  display: inline-block;
  background-color: #ff3e3e;
  width: 437px;
  text-align: center;
  padding: 17px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
}

#sUpports {
  width: 100%;
  padding: 30px 0;
  background-color: #fef2f6;
}
#sUpports .sUpportswarpper {
  width: 100%;
  display: flex;
}
#sUpports .sUpportswarpper .sUpportsContentbox {
  width: 167px;
  height: 250px;
  position: relative;
}
#sUpports .sUpportswarpper .sUpportsContentbox h4 {
  text-align: center;
  width: 100%;
  height: 100px;
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  z-index: 9;
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex {
  position: absolute;
  width: 130px;
  height: 75px;
  background-color: #ff3e3e;
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex::after {
  content: "";
  position: absolute;
  background: #ff3e3e;
  height: 100%;
  width: 100%;
  transform: rotate(-60deg);
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex::before {
  content: "";
  position: absolute;
  background: #ff3e3e;
  height: 100%;
  width: 100%;
  transform: rotate(60deg);
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex .whitehex {
  position: absolute;
  width: 100px;
  height: 58px;
  top: 8px;
  left: 14px;
  background-color: #ffffff;
  border-right: 1px solid rgba(157, 135, 135, 0.4509803922);
  z-index: 99;
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex .whitehex::after {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 100%;
  width: 100%;
  transform: rotate(-60deg);
  z-index: 99;
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex .whitehex::before {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 100%;
  width: 100%;
  transform: rotate(60deg);
  border-right: 1px solid rgba(157, 135, 135, 0.4509803922);
}
#sUpports .sUpportswarpper .sUpportsContentbox .conBox .redhex .whitehex span {
  position: absolute;
  z-index: 999;
  font-size: 60px;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */